@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@layer base {
  *,
  *::before,
  *::after {
    transition:
      background-color 0.3s ease,
      color 0.3s ease !important;
  }
}
html.dark {
  color-scheme: dark;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  height: 4px;
  background: #4b5563;
  border-radius: 9999px;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 4px;
  background: #4b5563;
  border-radius: 9999px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -4px;
}

input[type="range"]::-moz-range-thumb {
  width: 12px;
  height: 12px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
}
